Help on module models:

NAME
    models - # Start of Models.py

CLASSES
    sqlalchemy.ext.declarative.api.Model(flask_sqlalchemy.model.Model)
        Author
        Book
        Publisher
    
    class Author(sqlalchemy.ext.declarative.api.Model)
     |  Base class for SQLAlchemy declarative base model.
     |  
     |  To define models, subclass :attr:`db.Model <SQLAlchemy.Model>`, not this
     |  class. To customize ``db.Model``, subclass this and pass it as
     |  ``model_class`` to :class:`SQLAlchemy`.
     |  
     |  Method resolution order:
     |      Author
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  getVal(self, key)
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  alma_mater
     |  
     |  born
     |  
     |  description
     |  
     |  education
     |  
     |  image_url
     |  
     |  name
     |  
     |  nationality
     |  
     |  publishers
     |  
     |  title
     |  
     |  wikipedia_url
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x16c0f92ada0; Author>
     |  
     |  __table__ = Table('author', MetaData(bind=None), Column('tit...(), tab...
     |  
     |  __tablename__ = 'author'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x0000016C0F920E58; to 'DefaultMeta' at 0x00...
    
    class Book(sqlalchemy.ext.declarative.api.Model)
     |  Base class for SQLAlchemy declarative base model.
     |  
     |  To define models, subclass :attr:`db.Model <SQLAlchemy.Model>`, not this
     |  class. To customize ``db.Model``, subclass this and pass it as
     |  ``model_class`` to :class:`SQLAlchemy`.
     |  
     |  Method resolution order:
     |      Book
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  getVal(self, key)
     |      # Allows us to grab specific values
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  authors
     |  
     |  description
     |  
     |  google_id
     |  
     |  image_url
     |  
     |  isbn
     |  
     |  publication_date
     |  
     |  publishers
     |  
     |  title
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x16c0f92a6d8; Book>
     |  
     |  __table__ = Table('book', MetaData(bind=None), Column('title...ng(), t...
     |  
     |  __tablename__ = 'book'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x0000016C0F920E08; to 'DefaultMeta' at 0x00...
    
    class Publisher(sqlalchemy.ext.declarative.api.Model)
     |  Base class for SQLAlchemy declarative base model.
     |  
     |  To define models, subclass :attr:`db.Model <SQLAlchemy.Model>`, not this
     |  class. To customize ``db.Model``, subclass this and pass it as
     |  ``model_class`` to :class:`SQLAlchemy`.
     |  
     |  Method resolution order:
     |      Publisher
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  getVal(self, key)
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  authors
     |  
     |  description
     |  
     |  image_url
     |  
     |  name
     |  
     |  owner
     |  
     |  parent_company
     |  
     |  title
     |  
     |  website
     |  
     |  wikipedia_url
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x16c10163320; Publisher>
     |  
     |  __table__ = Table('publisher', MetaData(bind=None), Column('... table=...
     |  
     |  __tablename__ = 'publisher'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x0000016C0F948BD8; to 'DefaultMeta' at 0x00...

FUNCTIONS
    getVal(dict, key)
        # Defining a function for unit tests

DATA
    app = <Flask 'models'>
    db = <SQLAlchemy engine=postgres://postgres:***@localhost:5432/bookdb>

FILE
    c:\gitlab\cs329e-idb\models.py


