<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navigation Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('search')}}">Search</a>
      </li>
    </ul>
    </form>
  </div>
</nav>
		<h1>The Creators of Books-R-Us</h1>
		<hr />
		<h2>Aldo E. Villarreal</h2>
		<p><img src="https://scontent.fftw1-1.fna.fbcdn.net/v/t1.0-9/11391443_853597978060207_6885377362635810616_n.jpg?_nc_cat=106&amp;_nc_ht=scontent.fftw1-1.fna&amp;oh=d5bb09246ff4599c29f67f5a84c168ad&amp;oe=5C41CE71" alt="Picture of Aldo" width="425" height="425" /></p>
		<h2>Bio:</h2>
		<p>Hello! I'm Aldo: a mathematics major reigning from the southernmost city of McAllen, Texas. If you couldn't have guessed it from the picture above, I'm a sucker for (but not limited to) heights, ocean breeze, and Hawaiian shirts. I'm currently a junior at the University of Texas and am looking to break into the field of Data Science upon graduation. I'm constantly looking for new opportunities and have an open-minded outlook toward life.</p>
		<h2>Major Responsibilities: Backend Development using HTML and UI Design for pages</h2>
		<h3>No. of Commits: 2</h3>
		<h3>No. of Issues: 7</h3>
		<h3>No. of Unit Tests: 6</h3>
		<hr />

		<h2>Kalyani Limaye</h2>
		<p>&nbsp;</p>
		<h2><img src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/18118567_1507623742601443_7437539156334832023_n.jpg?_nc_cat=108&amp;_nc_ht=scontent-dfw5-1.xx&amp;oh=eb2990c68d91da2b4f40e0a0a69eceef&amp;oe=5C4235A9" alt="" width="425" height="425" /></h2>
		<h2>Bio:</h2>
		<p>Hi! I'm Kalyani. I&rsquo;m a mathematics and economics double major and I&rsquo;m an international student from Mumbai, India. I'm currently a junior at the University of Texas and I&rsquo;m hoping to be involved in data analytics after I graduate. In my free time, I like to play the ukulele and sketch!</p>
		<h2>Major Responsibilities: Frontend Development using HTML/CSS/Javascript and Bootstrap</h2>
		<h3>No. of Commits: 2 </h3>
		<h3>No. of Issues: 17</h3>
		<h3>No. of Unit Tests: 3</h3>
		<hr />

		<h2>Samuel Wu</h2>
		<p><img src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/15781213_683416961819045_5240180774986430991_n.jpg?_nc_cat=108&amp;_nc_ht=scontent-dfw5-1.xx&amp;oh=37d8801a123f483a7997269a03fdf2c4&amp;oe=5C8555B1" alt="Picture of Samuel" width="425" height="425" /></p>
		<h2>Bio:</h2>
		<p>Hi, I'm Samuel! I'm a third year Mathematics major with a passion for programming! I'm also from McAllen, Texas, but I'm an avid traveller and have been around the world to locations like China and Canada. In my free time, I like to relax with some video games. Platformers and Pokemon are definitely some of my favorites, but I'm open to many others as well.</p>
		<h2>Major Responsibilities: Backend Development using Python and Flask</h2>
		<h3>No. of Commits: 30</h3>
		<h3>No. of Issues: 11</h3>
		<h3>No. of Unit Tests: 0</h3>
		<hr />

		<h2>David Owen</h2>
		<p>&nbsp;</p>
		<h2><img src="https://i.imgur.com/0dqkMOb.jpg" alt="" width="200" height="315" /></h2>
		<h2>Bio:</h2>
		<p>I&rsquo;m a Senior Physics major from Melbourne, Australia. As the president of the Science Undergraduate Research Group, I spend most of my time in a greenhouse preparing our plant sale fundraisers or speaking to students in the College of Natural Sciences about research at UT. When I&rsquo;m not busy on campus, I like to hike and go on the lake--or any body of water, really. Otherwise, I&rsquo;m at home tending to the most needy cat on the planet.</p>
		<h2>Major Responsibilities: Overseeing the website hosted on GCP and Domain name</h2>
		<h3>No. of Commits: 16</h3>
		<h3>No. of Issues: 10</h3>
		<h3>No. of Unit Tests: 0</h3>
		<hr />

		<h1>Stats</h1>
		<h3>Total no. of Commits: 50</h3>
		<h3>Total no. of Issues: 45</h3>
		<h3>Total no. of Unit Tests: 9</h3>
		<p><a href="https://gitlab.com/samuelwu/cs329e-idb/issues">GitLab Issue Tracker </a> <br /> <a href="https://gitlab.com/samuelwu/cs329e-idb">GitLab Repo</a><br /> <a href="https://gitlab.com/samuelwu/cs329e-idb/wikis/home">GitLab Wiki</a><br /> <a href="https://speakerdeck.com/samuelwu/books-r-us">Speaker Deck</a></p> 
		<hr />

		<h1>Data</h1>
		<p><a href="http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/tutorials/books.json">Data for Books</a></p>

		<h1>Tools</h1>
		<ul>
			<li>Python/Flask</li>
			<li>Bootstrap</li>
			<li>HTML/CSS/Javascript</li>
			<li>Google Cloud Platform</li>
			<li>Slack</li>
			<li>Gitlab</li></ul>

		<h1>Tests</h1>
		<p><a href="{{url_for('test')}}">Click Here to Run our Unit Tests</a></p>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>