<html>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<style>
	table, th, td {
		border: 1px solid black;
}
	</style>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navigation Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('search')}}">Search</a>
      </li>
    </ul>
    </form>
  </div>
</nav>
	<body>
		<p>
			<h1>Authors</h1>
		</p>
		{% if page >= 1 %}
		<a href="{{url_for('allauthors', key = key, page = page-1, sort = sort)}}">Previous Page</a>
		{% endif %}
		{% if (page+1)*15 < authors|length %}
		<a href="{{url_for('allauthors', key = key, page = page+1, sort = sort)}}">Next Page</a><br>
		{% endif %}
		{% if sort %}
		<a href="{{url_for('allauthors', key = key, page = 0, sort = 0)}}">Sort Descending</a>
		{% else %}
		<a href="{{url_for('allauthors', key = key, page = 0, sort = 1)}}">Sort Ascending</a>
		{% endif %}
		<table>
			<tr>
				<th>Photograph</th>
				<th><a href="{{url_for('allauthors', key = 'name', page = 0, sort = 1)}}">Name</a></th>
				<th><a href="{{url_for('allauthors', key = 'born', page = 0, sort = 1)}}">Date of Birth</a></th>
				<th><a href="{{url_for('allauthors', key = 'nationality', page = 0, sort = 1)}}">Nationality</a></th>
				<th><a href="{{url_for('allauthors', key = 'education', page = 0, sort = 1)}}">Education</a></th>
			</tr>
			{% for i in range(page*15, (page+1)*15) %}
				{% if i < authors|length %}
				<tr>
					<td><img src="{{ authors[i][0].image_url }}" width="125", alt = "Author Portrait"></td>
					<td><a href="{{url_for('author1', i = authors[i][1])}}">{{ authors[i][0].name }}</a></td>
					<td>{{ authors[i][0].born }}</td>
					<td>{{ authors[i][0].nationality }}</td>
					<td>{{ authors[i][0].education}}</td>
				</tr>
				{% endif %}
			{% endfor %}
		</table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>
