<html>
	<head>
		
	</head>
	<body>
		<h1>Orson Scott Card</h1>
		<hr/>

		<p>Orson Scott Card is an American novelist, critic, public speaker, essayist and columnist. He writes in several genres but is known best for science fiction.
		<br>
		  <br>
		  <b>Education:</b> University of Exeter (B.A.); University of Utah (M.A.); University of Notre Dame (1980s Graduate Student)
		  <br>
		  <b>Nationality:</b> American
		  <br>
		  <b>Born:</b> 1951-08-24
		</p>
		<a href ="https://en.wikipedia.org/wiki/Orson_Scott_Card">Wikipedia: Orson Scott Card</a>

		<br>
		<br>
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg/250px-Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg" alt="Orson Scott Card"/>

		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('book2')}}">Ender's Game</a>
		<br>
		<a href="{{url_for('pub2')}}">Palgrave Macmillan</a>

	  <h3>Navigation</h3>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('about')}}">About</a>
	      </li>
	    </ul>
	    </div>
	</body>
</html>
