<html>
	<head>
		
	</head>
	<body>
		<h1>Isaac Asimov</h1>
		<hr/>

		<p>Isaac Asimov was an American author and professor of biochemistry at Boston University. He was known for his works of science fiction and popular science.
		<br>
		  <br>
		  <b>Education:</b> Columbia University, PhD in Biochemistry, 1948
		  <br>
		  <b>Nationality:</b> Russian (early years), American
		  <br>
		  <b>Born:</b> Between October 4th, 1919 and January 2nd, 1920
		  <br>
		  <b>Died:</b> 1992-04-06
		</p>
		<a href ="https://en.wikipedia.org/wiki/Isaac_Asimov">Wikipedia: Isaac Asimov</a>

		<br>
		<br>
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Isaac.Asimov01.jpg/220px-Isaac.Asimov01.jpg" alt="Isaac Asimov"/>

		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('book3')}}">I, Robot</a>
		<br>
		<a href="{{url_for('pub3')}}">Bantam Spectra</a>

	  <h3>Navigation</h3>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('about')}}">About</a>
	      </li>
	    </ul>
	    </div>
	</body>
</html>
