<html>
	<head>
		
	</head>
	<body>

		<h1>I, Robot</h1>
		<h4>ISBN 0553900331</h4>
		<h4>Publication Date: 2004-06-01</h4>

		<img src="https://books.google.com/books/content/images/frontcover/2vnbMzYXBQsC?fife=w500" alt="I, Robot"/>

		<hr/>

		<h1> Synopsis</h1>
		<p>The three laws of Robotics: 1) A robot may not injure a human being or, through inaction, allow a human being to come to harm 2) A robot must obey orders given to it by human beings except where such orders would conflict with the First Law. 3) A robot must protect its own existence as long as such protection does not conflict with the First or Second Law. With these three, simple directives, Isaac Asimov changed our perception of robots forever when he formulated the laws governing their behavior. In I, Robot, Asimov chronicles the development of the robot through a series of interlinked stories: from its primitive origins in the present to its ultimate perfection in the not-so-distant future--a future in which humanity itself may be rendered obsolete. Here are stories of robots gone mad, of mind-read robots, and robots with a sense of humor. Of robot politicians, and robots who secretly run the world--all told with the dramatic blend of science fact and science fiction that has become Asmiov's trademark.</p>

		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('author3')}}">Isaac Asimov</a>
		<br>
		<a href="{{url_for('pub3')}}">Bantam Spectra</a>

	  <h3>Navigation</h3>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('about')}}">About</a>
	      </li>
	    </ul>
	    </div>
	</body>
</html>
