<html>
	<head>
		
	</head>
	<body>

		<h1>Ender's Game</h1>
		<h4>ISBN 0765317389</h4>
		<h4>Publication Date: 2006-10-31</h4>

		<img src="https://books.google.com/books/content/images/frontcover/Z5QtUpmbcDwC?fife=w500" alt="Enders Game"/>

		<hr/>

		<h1> Synopsis</h1>
		<p>Child hero Ender Wiggin must fight a desperate battle against a deadly alien race if mankind is to survive.</p>

		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('author2')}}">Orson Scott Card</a>
		<br>
		<a href="{{url_for('pub2')}}">Palgrave Macmillan</a>

	  <h3>Navigation</h3>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('about')}}">About</a>
	      </li>
	    </ul>
	    </div>
	</body>
</html>