<!-- Type in the following code and save it in the file "book.html" inside the folder "templates" -->

<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navigation Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('search')}}">Search</a>
      </li>
    </ul>
    </form>
  </div>
</nav>
		<h1>{{books[i][0].title}}</h1>
		<h4>ISBN: {{books[i][0].isbn}}</h4>
		<h4>Publication Date: {{books[i][0].publication_date}}</h4>

		<img src="{{ books[i][0].image_url }}" width="125", alt="Cover Art"/>

		<hr/>

		<h1> Synopsis</h1>
		<p>{{books[i][0].description}}</p>

		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('author1', i = i)}}">Author: {{books[i][0].authors}}</a> 
		<br>
		<a href="{{url_for('pub1', i = i)}}">Publisher: {{books[i][0].publishers}}</a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>
 <!-- end of book.html -->
