<html>
	<head>
		
	</head>
	<body>

		<h1>Palgrave Macmillan</h1>
		<h5>London</h5>
		<hr/>
		<p>Palgrave Macmillan is an international academic and trade publishing company. Its programme includes textbooks, journals, monographs, professional and reference works in print and online.</p>
		<a href ="https://en.wikipedia.org/wiki/Palgrave_Macmillan">Wikipedia: Palgrave</a>
		<br>
		<br>
		<a href ="http://www.palgrave.com">Palgrave Website</a>
		<br>
		<br>
		<img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Palgrave_Macmillan_Logo.svg" alt="Macmillan Image">
	
		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('author2')}}">Orson Scott Card</a>
		<br>
		<a href="{{url_for('book2')}}">Ender's Game</a>

	  <h3>Navigation</h3>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('about')}}">About</a>
	      </li>
	    </ul>
	    </div>
	</body>
</html>
