<html>
	<head>
		
	</head>
	<body>

		<h1>Bantam Spectra</h1>
		<h5>New York City, New York</h5>
		<hr/>
		<p>Bantam Spectra is the science-fiction division of Bantam Books, which is owned by Random House. According to their website, Spectra publishes science-fiction, fantasy, horror, and speculative novels from recognizable authors.</p>
		<a href ="https://en.wikipedia.org/wiki/Bantam_Spectra">Wikipedia: Bantam Spectra</a>
		<br>
		<br>
		<a href ="http://sf-fantasy.suvudu.com">Bantam Spectra Website</a>
		<br>
		<br>
		<img src="https://vignette.wikia.nocookie.net/starwars/images/9/9f/BantamSpectra.png/revision/latest?cb=20061121124259" alt="Spectra Image">

		<hr/>
		<h1>Related</h1>
		<a href="{{url_for('author3')}}">Isaac Asimov</a>
		<br>
		<a href="{{url_for('book3')}}">I, Robot</a>

	  <h3>Navigation</h3>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allbooks')}}">Books</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allauthors')}}">Authors</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('allpub')}}">Publishers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('about')}}">About</a>
	      </li>
	    </ul>
	    </div>
	</body>
</html>
